.all-container{
    display: flex;
}
   .curriculo-allContainer{
    display: flex;
    gap: 10px;
    width: 120px;
   }

   .viewCV{
    color: rgb(25, 25, 46);
    background-color: #bab8b7;
    padding: 5px;
    outline: none;
    appearance: none;
    border: 1.5px solid grey;
    border-radius: 15px;
   }
   .viewCV >p{
    font-size: 0.67rem;
   }
   .viewCV:hover{
    background-color: white;
    
   }

   .downloadCV {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(25, 25, 46);
    background-color: #bab8b7;
    padding: 3px;
    outline: none;
    appearance: none;
    border: 1.5px solid grey;
    width: 26px; /* Ajuste para um botão maior */
    height: 26px;
    border-radius: 50%; /* Para deixar o botão circular */
}

.download-icon {
    font-size: 2rem; /* Aumentando o tamanho do ícone */
}

.downloadCV:hover {
    background-color: white;
}


   .icons{
    gap: 10px ;
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: -25px;
    
}
.icons > a > .linkedin {
color: #bab8b7;


}
.icons > a > .linkedin:hover{
    color: #0080ff;
    }

    .icons > a > .githubHome {
        color: #bab8b7;
    }
    .icons > a > .githubHome:hover {
        color: white;
    }
    .icons > a > .youtube {
        color: #bab8b7;
    }
    .icons > a > .youtube:hover {
      
      color: #FF0000;
    }
   
    @media (max-width: 1000px) {
        .all-container{
            display: flex;
            justify-content: center;
        }
    }