.header-projects{
    background-color:  #bab8b7;
    color: rgb(25, 25, 46);
     
}
.body-projects{
    background-color: rgb(25, 25, 46);
    
}
.footer-projects {
    background-color: #bab8b7;
    color: rgb(25, 25, 46);
}
.hr1 {
    color: #bab8b7;
}
.hr2{
    color: #bab8b7;
}