
.header-objective{
    background-color:  #bab8b7;
    color: rgb(25, 25, 46);
     
}
.body-objective{
    background-color: rgb(25, 25, 46);
}
.footer-objective {
    background-color: #bab8b7;
    color: rgb(25, 25, 46);
}