.header-contact{
    background-color:  #bab8b7;
    color: rgb(25, 25, 46);
}
.body-contact{
    background-color: rgb(25, 25, 46);
   
    
}
.footer-contact {
    background-color:  #bab8b7;
    color: rgb(25, 25, 46);
}
.hr1-contact {
    margin-top: 25px;
    background-color:  #bab8b7;
}
.hr2-contact{
    margin-top: -90px;
    background-color:  #bab8b7;
}